footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1ecff;
  height: auto;
  width: 100vw;
  padding-top: 0px;
  color: #fff;
}
.footer-bottom {
  background: #e1ecff;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  color: black;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

@media (max-width: 520px) {
  .footer-bottom p {
    float: left;
    width: 50%;
    text-align: center;
  }
}
