.btn-rounded1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #fefaf2;
}

.btn-rounded2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #fefaf2;
}

.btn-rounded3 {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #e1f0fd;
  width: 600px;
}

.btn-rounded6 {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #fefaf2;
  text-align: center;
  justify-content: center;
}

.btn-rounded {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.btn-rounded-left {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.blck-clr {
  color: #000000;
}

.text-box1 {
  width: 50px;
  height: 150px;
  background-color: rgb(70, 19, 255);
}

.text-p {
  font-size: 16px;
}

hr.style1 {
  border-top: 1px solid #8c8b8b;
}

@media (min-width: 1440px) {
  .btn-rounded1 {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fefaf2;
    width: 230px;
  }
  .btn-rounded2 {
    float: right;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fefaf2;
    width: 300px;
  }
  .btn-rounded6 {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fefaf2;
    width: 225px;
    float: right;
  }
  .responsive {
    margin-left: 10px;
  }
}

@media (max-width: 1680px) {
  .responsive {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .btn-rounded1 {
    margin-left: 1rem;
  }
  .btn-rounded6 {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fefaf2;
    width: 225px;
    float: right;
  }
}
