.btn-rounded1 {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #fefaf2;
  width: 230px;
}

.btn-rounded2 {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #fefaf2;
  width: 300px;
}

.btn-rounded3 {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #e1f0fd;
  width: 600px;
}

.btn-rounded {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}

.btn-rounded-left {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.blck-clr {
  color: #000000;
}

.text-box1 {
  width: 50px;
  height: 150px;
  background-color: rgb(70, 19, 255);
}

.text-p {
  font-size: 16px;
}
